<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Vue App</title>
<link href="/css/user.ac53a89c79bb87d78fbc.css" rel="preload" as="style"><link href="/js/chunk-vendors.ac53a89c79bb87d78fbc.js" rel="preload" as="script"><link href="/js/user.ac53a89c79bb87d78fbc.js" rel="preload" as="script"><link href="/css/user.ac53a89c79bb87d78fbc.css" rel="stylesheet"></head>
<body>
<div id="app">
</div>
<script type="text/javascript" src="/js/chunk-vendors.ac53a89c79bb87d78fbc.js"></script><script type="text/javascript" src="/js/user.ac53a89c79bb87d78fbc.js"></script></body>
</html>