<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="/css/user.css" rel="preload" as="style">
  <link href="/js/chunk-vendors.js" rel="preload" as="script">
  <link href="/js/user.js" rel="preload" as="script">
  <link href="/css/user.css" rel="stylesheet">
</head>
<body>
<h1>Hello from Spring & 123</h1>

<br>
<div style="margin-top: 200px;">
  <h2 style="text-align: center">Hallo von Thymeleaf</h2>
</div>
<div id="app">
</div>
<script type="text/javascript" src="/js/chunk-vendors.js"></script><script type="text/javascript" src="/js/user.js"></script></body>
</body>
</html>